<div class="form-wrapper">
  <div class="employee-wrapper" >
    <mat-card class="product-box">
      <form  [formGroup]="submitForm">
        <mat-card-content class="form-group-wrapper">
          <div class="form-control">
            <mat-form-field class="example-full-width">
              <mat-label>Enter User Name</mat-label>
              <input matInput formControlName="username" placeholder="Name" name='username'  class="inputName"/>
            </mat-form-field>
            <div *ngIf=" submitFormData && ctrl.username.errors">
              <mat-error  *ngIf="ctrl.username.errors" class="error-class">{{ "This field is required" }}</mat-error>
            </div>
          </div>
          <div class="form-control">
            <mat-form-field class="example-full-width">
              <mat-label>Enter Address</mat-label>
              <input matInput formControlName="address" placeholder="Address" name='address' class="inputName"/>
            </mat-form-field>
            <div *ngIf="submitFormData && ctrl.address.errors">
              <mat-error *ngIf="ctrl.address.errors" class="error-class">{{ "This field is required" }}</mat-error>
            </div>
          </div>
        </mat-card-content>
        <button mat-stroked-button type='submit' color="accent" class="red-btn submit" (click)="submit()">
          Submit
        </button>
      </form>
      <div *ngIf="userData.length > 0">
        <div class='submitted-data-wrapper'>
          <h2>Submitted Data:</h2>
          <table class='table-wrapper'>
            <thead class='thead-wrapper'>
              <th class='thead'> Name </th>
              <th class='thead'> Address </th>
            </thead>
              
              <tr *ngFor="let row of userData" class='row'>
                <td class='data'> {{row.name}}</td>
                <td class='data'> {{row.address}} </td>
              </tr>
          </table>
        </div>
      </div>
    </mat-card>
  </div>
</div>