::ng-deep .mdc-text-field{
  overflow: unset !important;
}

.error-class{
  color: red;
}
.btn-block{
  margin-left: 1%;
}

.main {
  margin: 10% 29%;
  padding: 2%;
  border:1px solid black;
  text-align: center;
}
input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
